<div class="row my-3">
  @for (item of cateograylist; track $index) {
     <div class=" col-sm-6 col-md-3 ">
      <div class="cate-card text-center my-3 bg-white rounded p-3">
        <img [src]="item.cateimage" alt="cateimage" class="w-100 img-responsive" height="150px">
        <h5 class="my-2">{{item.title}}</h5>
      </div>
    </div>
  }

</div>
<div class="card">
      <div class="card-header d-flex justify-content-between align-items-center gap-1">
          <h4 class="card-title flex-grow-1">All Categories List</h4>

          <button  class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target= "#exampleModal">
                Add Product
          </button>
          <!-- Modal -->
            <div class="modal fade modal-lg" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form class="row" [formGroup]="formprod">

                      <div class="mb-3 col-md-6">
                        <label for="title" class="form-label">Product Title</label>
                        <input type="text" class="form-control" formControlName="title" id="title" aria-describedby="titleHelp">
                      </div>
                      <div class="mb-3 col-md-6">
                        <label for="price" class="form-label">Product Price</label>
                        <input type="number" class="form-control"  formControlName="price" id="price">
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Product Description</label>
                        <textarea class="form-control" formControlName="description" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Product Category</label>
                        <select class="form-select" aria-label="Default select example" formControlName="category">
                          <option value="men's clothing">men's clothing</option>
                          <option value="jewelery">jewelery</option>
                          <option value="electronics">electronics</option>
                          <option value="women's clothing">women's clothing</option>
                        </select>
                      </div>
                      <div class="mb-3">
                        <label for="formFile" class="form-label">Default file input example</label>
                        <input class="form-control" type="file" formControlName="image" id="formFile" (change)="getimagepath($event)">
                      </div>
                      <div class="mb-3">
                        <img [src]="imageUrl" alt="" class="img-responsive" height="100px" width="120px">
                      </div>
                      <button type="submit" class="btn btn-primary" (click)="addproduct()">Add Product</button>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

          <div class="dropdown">
                <a href="#" class="dropdown-toggle btn btn-sm btn-outline-light" data-bs-toggle="dropdown" aria-expanded="false">
                    This Month
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <!-- item-->
                    <a href="#!" class="dropdown-item">Download</a>
                    <!-- item-->
                    <a href="#!" class="dropdown-item">Export</a>
                    <!-- item-->
                    <a href="#!" class="dropdown-item">Import</a>
                </div>
          </div>
      </div>
      <div>
    <div class="table-responsive">
          <table class="table align-middle mb-0 table-hover table-centered">
              <thead class="bg-light-subtle">
                    <tr>
                        <th style="width: 20px;">
                              <div class="form-check">
                                  <input type="checkbox" class="form-check-input" id="customCheck1">
                                  <label class="form-check-label" for="customCheck1"></label>
                              </div>
                        </th>
                        <th>ID</th>
                        <th>image</th>
                        <th>Categories</th>
                        <th>Starting Price</th>
                        <th>Create by</th>
                        <th>Product Stock</th>
                        <th>Action</th>
                    </tr>
              </thead>
              <tbody>
                @for (item of allproduct; track $index) {
                   <tr>
                        <td>
                              <div class="form-check">
                                  <input type="checkbox" class="form-check-input" id="customCheck2">
                                  <label class="form-check-label" for="customCheck2"></label>
                              </div>
                        </td>
                        <td>{{item.id}}</td>
                        <td>
                              <div class="d-flex align-items-center gap-2">
                                  <div class="rounded bg-light avatar-md d-flex align-items-center justify-content-center">
                                        <img [src]="item.image" alt="" class="img-responsive" width="40px">
                                  </div>

                              </div>

                        </td>
                        <td>{{item.category}}</td>
                        <td>{{item.price}}</td>
                        <td>{{item.title}}</td>
                        <td>{{item.rating.count}}</td>

                        <td>
                          <div class="d-flex gap-2">
                                <a routerLink="/dashboard/prodetalis/{{item.id}}" class="btn btn-light btn-sm"><fa-icon [icon]="faEye"></fa-icon></a>
                                <button data-bs-toggle="modal" data-bs-target= "#exampleModal2" class="btn btn-soft-primary btn-sm" (click)="updatepro(item)"><fa-icon [icon]="faEdit"></fa-icon></button>
                                <button class="btn btn-soft-danger btn-sm" (click)="deleteproduct(item.id)"><fa-icon [icon]="faTrashAlt"></fa-icon></button>
                                <!--modal-->
                                <div class="modal fade modal-lg" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form class="row" [formGroup]="formprod">

                      <div class="mb-3 col-md-6">
                        <label for="title" class="form-label">Product Title</label>
                        <input type="text" class="form-control" formControlName="title" id="title" aria-describedby="titleHelp">
                      </div>
                      <div class="mb-3 col-md-6">
                        <label for="price" class="form-label">Product Price</label>
                        <input type="number" class="form-control"  formControlName="price" id="price">
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Product Description</label>
                        <textarea class="form-control" formControlName="description" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Product Category</label>
                        <select class="form-select" aria-label="Default select example" formControlName="category">
                          <option value="men's clothing">men's clothing</option>
                          <option value="jewelery">jewelery</option>
                          <option value="electronics">electronics</option>
                          <option value="women's clothing">women's clothing</option>
                        </select>
                      </div>
                      <div class="mb-3">
                        <label for="formFile" class="form-label">Default file input example</label>
                        <input class="form-control" type="file" formControlName="image" id="formFile" (change)="getimagepath($event)">
                      </div>
                      <div class="mb-3">
                        <img [src]="imageUrl" alt="" class="img-responsive" height="100px" width="120px">
                      </div>
                      <button type="submit" class="btn btn-primary" (click)=" doneupdate()" >Update Product</button>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
                          </div>
                        </td>
                    </tr>
                }




              </tbody>
          </table>
    </div>
          <!-- end table-responsive -->
 </div>

    <div class="card-footer border-top my-3 d-flex justify-content-end">
          <nav aria-label="Page navigation example me-auto">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>

    </div>
</div>
